//后台框架尺寸

// 菜单宽度
$navMenu:200px;
$navMenuMin: 64px;
$layoutHeader: 75px;

//主色调
$mainCcolor:#f56c6c;



@mixin webkit($type, $value) {
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -o-#{$type}: $value;
    -ms-#{$type}: $value;
    #{$type}: $value;
}